* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html {
    height: 100%;
}

body {
    font-family: 'Arvo', sans-serif;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

/* Header */
header {
    grid-area: header;
    margin: 0px 0px 10px 0px;
    background-color: #0B37B4;
    padding: 0.5rem 7rem;
  }
  
  #logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  #logo:hover {
    text-decoration: none;
    transition: 0.4s;
    padding: 5px 5px;
    margin: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    color: #10094F;
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    box-shadow: 0px 10px 40px -12px #2400AD;
  }
  
  #icon-login {
    color: rgba(255, 255, 255, .5);
    transition: 0.1s;
  }
  
  #icon-login:hover {
    color: rgb(196, 196, 196);
    transition: 0.1s;
  }



/* Fim do Header */
.cont-top {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: flex-start;
}

.titulo>h3 {
    color: #FFFFFF;
    font-size: 3vw;
}

.saida {
    color: #fff;
    cursor: pointer;
}

.saida:hover {
    transition: 0.2s;
}


.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
 
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #5DE0E6;
    font-size: 12px;
}

.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #5DE0E6;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.button:hover {
    text-decoration: none;
    background: #5DE0E6;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #004AAD,
        0 0 25px #5DE0E6,
        0 0 50px #004AAD,
        0 0 100px #5DE0E6;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #5DE0E6);
    animation: btn-anim1 1s linear infinite;
}

.logar {
    color: white;
    text-decoration: none;
}

.button-login {
    text-decoration: underline;
}

.button-login:hover {
    color: red;
    transition: 0.2s;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #5DE0E6);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #5DE0E6);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #5DE0E6);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}