* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-size: 1rem;
}

main {
    display: grid;
    grid-template-areas:
        "header header header"
        "aside article article"
        "footer footer footer";
    grid-template-rows: auto auto auto;
}

header {
    grid-area: header;
    margin: 0px 0px 10px 0px;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    padding: 0.5rem 7rem;
}

#logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

article {
    grid-area: article;
    margin: 0px 10px;
}

aside {
    grid-area: aside;
    background: rgb(0, 74, 173);
    background: linear-gradient(275deg, rgba(0, 74, 173, 0.8) 20%,
            rgba(93, 224, 230, 0.8) 80%);
    font-family: "Arvo", sans-serif;
}

footer {
    grid-area: footer;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.navbar-toggler-icon {
    border: 2px solid #004AAD;
}

#pg {
    font-family: "Arvo", sans-serif;
}

#navbarDropdown {
    font-family: "Arvo", sans-serif;
}

.dropdown-item {
    font-family: "Arvo", sans-serif;
}

::placeholder {
    font-family: "Arvo", sans-serif;
}

.jumbotron {
    color: white;
    display: grid;
    justify-content: left;
    align-items: center;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(45deg, #330808, 
    #3a2c09);
    border-radius: 2.5em;
    padding: 30px;
    width: 300px;
    height: 350px;
  }
  
  .form::before {
    content: '';
    background-image: linear-gradient(45deg, #ff0000, 
    #ffb700);
    height: 358px;
    width: 309px;
    position: absolute;
    margin-top: -34px;
    margin-left: px;
    z-index: -1;
    border-radius: 2.7em;
  }
  
  .button {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: #ff5900;
    color: black;
    padding: 0.7em 5.5em;
    display: flex;
    align-items: center;
    border: 2px solid #66da4300;
    border-radius: 5em;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .button:hover {
    border: 2px solid #ff5900;
    background: #00000000;
    color: #ff5900;
  }
  
  .button:active {
    border: 2px solid #66da4300;
    background: #ff5900;
    color: black;
  }
  
  .input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #ff5900;
    outline: none;
    background-color: transparent;
    color: #ff5900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
  }
  
  .input:focus {
    border: 1px solid #66da4300;
    border-bottom: 1px solid #ff5900;
    background-color: transparent;
    color: white;
  }
  
  .input::placeholder {
    color: #9b725b;
  }
  
  .textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: calc(100% - 10px);
    padding: 8px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #ff5900;
    outline: none;
    background-color: transparent;
    color: #ff5900;
  }
  
  .textarea::placeholder {
    color: #9b725b;
  }
  
  .textarea:focus {
    border: 1px solid #66da4300;
    border-bottom: 1px solid #ff5900;
    background-color: transparent;
    color: white;
  }

.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}

.card{
    margin: 30px;
    margin: 30px;
    border-radius: 30%;
}
.card-header{
    color: white;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}
.card-body{
    background: #004AAD;
}
.card-title{
    color: #5DE0E6;
}
.card-text{
    color: white;
}