* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

/* Header */
header {
    grid-area: header;
    margin: 0px 0px 10px 0px;
    background: #004AAD;
    padding: 0.5rem 7rem;
  }
  
  #logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  #logo:hover {
    text-decoration: none;
    transition: 0.4s;
    padding: 5px 5px;
    margin: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    color: #10094F;
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    box-shadow: 0px 10px 40px -12px #2400AD;
  }
  
  #icon-login {
    color: #004AAD;
    transition: 0.1s;
  }
  
  #icon-login:hover {
    color: #10094F;
    transition: 0.1s;
  }


/* Fim do Header */
header {
    margin: 0px 0px 10px 0px;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    padding: 0.5rem 7rem;
}

#logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

article {
    margin: 0px 10px;
}

footer {
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.navbar-toggler-icon {
    border: 2px solid #004AAD;
}

#pg {
    font-family: "Arvo", sans-serif;
}

#navbarDropdown {
    font-family: "Arvo", sans-serif;
}

.dropdown-item {
    font-family: "Arvo", sans-serif;
}

::placeholder {
    font-family: "Arvo", sans-serif;
}

.jumbotron {
    color: white;
    display: grid;
    justify-content: left;
    align-items: center;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.btn {
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
} 

.icon {
    position: right;
}

/*Rating*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: linear-gradient(43deg, #33ff00 0%, #fbff00 46%, #ff0000 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}


.card {
    margin: 30px;
    margin: 30px;
    border-radius: 30%;
}

.card-header {
    color: white;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.card-body {
    background: #004AAD;
}

.card-title {
    color: #5DE0E6;
}

.card-text {
    color: white;
}

.form-teste {
    display: grid; 
    justify-items: center;
    background: #004AAD;
    color: white;
    margin: 30px 30px;
    padding: 15px 15px;
}

input.s{
    width: 250px;
    background-color: #5DE0E6;
    color: #004AAD;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    align-items: center;
    padding: 5px;
}
.s:hover{
    background-color: transparent;
    color: #5DE0E6;
}
input.r{
    width: 250px;
    background-color: #5DE0E6;
    color: #004AAD;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 5px;
}
.r:hover{
    background-color: transparent;
    color: #5DE0E6;
}


/* Inicio Footer */
footer {
    padding: 0 10px;
    grid-area: footer;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #004AAD 80%);
}

#conjuto {
    text-align: justify;
}

#titulo {
    color: white;
    font-family: 'Arvo', sans-serif;
}

#titulo-contato {
    color: white;
    font-family: 'Arvo', sans-serif;
}

.text-reset {
    font-family: 'Arvo', sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.text-reset:hover {
    text-decoration: none;
    color: rgb(209, 209, 209);
}

#text {
    color: white;
    font-family: 'Arvo', sans-serif;
}

#text-config {
    font-family: 'Arvo', sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

#titulo>li {
    color: #ffffff;
}

#text-config:hover {
    text-decoration: none;
    color: rgb(112, 112, 112);
}

li {
    margin: 10px;
    color: white;
}

#icon-footer {
    color: white;
}

/* Inicio transicao */
/* removendo o estilo padrao do botao */
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* estilo de botao */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #5DE0E6;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* texto com transicao */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* transicao */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}
/* fim da transicao */
/* Final Footer */