* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

header {
    margin: 0px 0px 10px 0px;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    padding: 0.5rem 7rem;
}

#logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

article {
    margin: 0px 10px;
}

footer {
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.navbar-toggler-icon {
    border: 2px solid #004AAD;
}

#pg {
    font-family: "Arvo", sans-serif;
}

#navbarDropdown {
    font-family: "Arvo", sans-serif;
}

.dropdown-item {
    font-family: "Arvo", sans-serif;
}

::placeholder {
    font-family: "Arvo", sans-serif;
}

.jumbotron {
    color: white;
    display: grid;
    justify-content: left;
    align-items: center;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.btn {
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
} 

.card {
    margin: 30px;
    margin: 30px;
    border-radius: 30%;
}

.card-header {
    color: white;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.card-body {
    background: #004AAD;
}

.card-title {
    color: #5DE0E6;
}

.card-text {
    color: white;
}

/*Rating*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: linear-gradient(43deg, #33ff00 0%, #fbff00 46%, #ff0000 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}




.form-teste {
    display: grid; 
    justify-items: center;
    background: #004AAD;
    color: white;
    margin: 30px 30px;
    padding: 15px 15px;
}

input.s{
    width: 250px;
    background-color: #5DE0E6;
    color: #004AAD;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    align-items: center;
    padding: 5px;
}
.s:hover{
    background-color: transparent;
    color: #5DE0E6;
}
input.r{
    width: 250px;
    background-color: #5DE0E6;
    color: #004AAD;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 5px;
}
.r:hover{
    background-color: transparent;
    color: #5DE0E6;
}    