* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  line-height: 1.6em;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%,
          #5DE0E6 80%); */
  overflow-x: hidden;
  font-size: 1rem;
}

main {
  display: grid;
  grid-template-areas:
      "header header header"
      "aside article article"
      "footer footer footer";
  grid-template-rows: auto auto auto;
}

header {
  grid-area: header;
  margin: 0px 0px 10px 0px;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
  padding: 0.5rem 7rem;
}

#logo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

article {
  grid-area: article;
  margin: 0px 10px;
}

aside {
  grid-area: aside;
  background: rgb(0, 74, 173);
  background: linear-gradient(275deg, rgba(0, 74, 173, 0.8) 20%,
          rgba(93, 224, 230, 0.8) 80%);
  font-family: "Arvo", sans-serif;
}

footer {
  grid-area: footer;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.navbar-toggler-icon {
  border: 2px solid #004AAD;
}

#pg {
  font-family: "Arvo", sans-serif;
}

#navbarDropdown {
  font-family: "Arvo", sans-serif;
}

.dropdown-item {
  font-family: "Arvo", sans-serif;
}

::placeholder {
  font-family: "Arvo", sans-serif;
}

.jumbotron {
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.btn:hover {
  background-color: #004AAD;
  border: 2px solid #004AAD;
  color: #5DE0E6;
}

.btn-outline-success {
  color: #004AAD;
  background-color: transparent;
  background-image: none;
  border-color: #004AAD;
}

#redes {
  color: white;
  font-family: 'Merriweather', sans-serif;
}

#footer_company {
  color: white;
  font-family: 'Arvo', sans-serif;
}
.card-deck{
  margin: auto;
  margin: 15px;
  
}
.card{
  color: white;
  background: #004AAD;
}
.card-link{
  color: #5DE0E6;
}
.card-subtitle{
  color: #5DE0E6;
}