* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  line-height: 1.6em;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%,
          #5DE0E6 80%); */
  overflow-x: hidden;
  font-size: 1rem;
}

main {
  display: grid;
  grid-template-areas:
    "header header header"
    "article article article"
    "footer footer footer";
  grid-template-rows: auto auto auto;
}

header {
  grid-area: header;
  margin: 0px 0px 10px 0px;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
  padding: 0.5rem 7rem;
}

#logo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

article {
  grid-area: article;
  margin: 0px 10px;
}

footer {
  grid-area: footer;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.navbar-toggler-icon {
  border: 2px solid #004AAD;
}

#pg {
  font-family: "Arvo", sans-serif;
}

#navbarDropdown {
  font-family: "Arvo", sans-serif;
}

.dropdown-item {
  font-family: "Arvo", sans-serif;
}

::placeholder {
  font-family: "Arvo", sans-serif;
}

.jumbotron {
  color: white;
  display: grid;
  justify-content: left;
  align-items: center;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.card-deck {
  margin: auto;
  margin: 15px;
}

.card {
  color: white;
  background: #004AAD;
}
.card-link {
  color: #5DE0E6;
}
.card-rate{
  color: #5DE0E6;
}
.card-subtitle {
  color: #5DE0E6;
}
.rating{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}
.rating input{
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
.rating input::before{
  content: "\f005";
  position: absolute;
  font-family: fontAwesome;
  font-size: 34px;
  color: white;
  transition: 0.5s;
}
.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before,

.rating input:hover ~ input::before{
  color: var(--c);
}
.card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
}

.card-body {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card:hover .card-body {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

#redes {
  color: white;
  font-family: 'Merriweather', sans-serif;
}

#footer_company {
  color: white;
  font-family: 'Arvo', sans-serif;
}
