* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  line-height: 1.6em;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  --s: 82px;
  --c1: #b2b2b2;
  --c2: #ffffff;
  --c3: #d9d9d9;

  --_g: var(--c3) 0 120deg, #0000 0;
  background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
      conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
      conic-gradient(from 60deg at calc(200% / 3),
          var(--c3) 60deg,
          var(--c2) 0 120deg,
          #0000 0),
      conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
      linear-gradient(90deg,
          var(--c1) calc(100% / 6),
          var(--c2) 0 50%,
          var(--c1) 0 calc(500% / 6),
          var(--c2) 0);
  background-size: calc(1.732 * var(--s)) var(--s);
}

main {
  display: grid;
  grid-template-areas:
    "header header header"
    "article article article"
    "footer footer footer";
  grid-template-rows: auto auto auto;
}

header {
  grid-area: header;
  margin: 0px 0px 10px 0px;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
  padding: 0.5rem 7rem;
}

#logo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

article {
  grid-area: article;
  margin: 0px 10px;
}

footer {
  grid-area: footer;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.navbar-toggler-icon {
  border: 2px solid #004AAD;
}

#pg {
  font-family: "Arvo", sans-serif;
}

#navbarDropdown {
  font-family: "Arvo", sans-serif;
}

.dropdown-item {
  font-family: "Arvo", sans-serif;
}

::placeholder {
  font-family: "Arvo", sans-serif;
}

.jumbotron {
  color: white;
  display: grid;
  justify-content: left;
  align-items: center;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.card-deck {
  margin: auto;
  margin: 10px;
}

.card {
  color: white;
  background: #004AAD;
}


.card-link {
  color: #5DE0E6;
}
.card-rate{
  color: #5DE0E6;
}
.card-subtitle {
  color: #5DE0E6;
}

hr {
  border-color: #ffffff;
}


.rating{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}
.rating input{
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
.rating input::before{
  content: "\f005";
  position: absolute;
  font-family: fontAwesome;
  font-size: 34px;
  color: white;
  transition: 0.5s;
}
.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before,

.rating input:hover ~ input::before{
  color: var(--c);
}

#redes {
  color: white;
  font-family: 'Merriweather', sans-serif;
}

#footer_company {
  color: white;
  font-family: 'Arvo', sans-serif;
}