* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  line-height: 1.6em;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%,
          #5DE0E6 80%); */
  overflow-x: hidden;
  font-size: 1rem;
}

main {
  display: grid;
  grid-template-areas:
    "header header header"
    "article article article"
    "footer footer footer";
  grid-template-rows: auto auto auto;
}

header {
  grid-area: header;
  margin: 0px 0px 10px 0px;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
  padding: 0.5rem 7rem;
}

#logo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

article {
  grid-area: article;
  margin: 0px 10px;
}

footer {
  grid-area: footer;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.navbar-toggler-icon {
  border: 2px solid #004AAD;
}

#pg {
  font-family: "Arvo", sans-serif;
}

#navbarDropdown {
  font-family: "Arvo", sans-serif;
}

.dropdown-item {
  font-family: "Arvo", sans-serif;
}

::placeholder {
  font-family: "Arvo", sans-serif;
}

.jumbotron {
  color: white;
  display: grid;
  justify-content: left;
  align-items: center;
  background: rgb(93, 224, 230);
  background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.card-deck {
  margin: auto;
  margin: 15px;

}

.card {
  color: white;
  background: #004AAD;
}

.card-link {
  color: #5DE0E6;
}

.card-subtitle {
  color: #5DE0E6;
}

.rating {
  display: flex;
  font-size: 0;
  position: relative;
  text-transform: capitalize;
  padding: 0 15px 0 8%;
  color: gray;
}

.rating label {
  display: flex;
  padding: 0;
  font-size: 27px;
  cursor: pointer;
}

.rating label::before {
  content: "\2606";
  display: inline-block;
  transition: 0.2s;
}

.rating label span {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 20px;
  font-size: 1rem;
  white-space: nowrap;
  transition: 0.15s ease-out;
  pointer-events: none;
  letter-spacing: -2px;
  transform: translateY(-50%);
}

.rating label:hover span {
  opacity: 1;
  transform: none;
  letter-spacing: 0;
}

.rating label:hover::before {
  color: orange;
  opacity: 0.6;
  filter: drop-shadow(0 0 4px);
}

.rating label:hover~*::before {
  color: orange;
  opacity: 0.6;
  filter: drop-shadow(0 0 4px);
}

.rating input:checked~label::before {
  content: "\2605";
  color: orange;
  filter: drop-shadow(0 0 4px);
  transform: rotate(0.2turn);
  transition-delay: calc(0.1 * attr(data-idx integer));
}