/* INICIO PADRAO */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html {
    scroll-behavior: smooth;
}

body {
    --s: 82px;
    --c1: #b2b2b2;
    --c2: #ffffff;
    --c3: #d9d9d9;

    --_g: var(--c3) 0 120deg, #0000 0;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
        conic-gradient(from 60deg at calc(200% / 3),
            var(--c3) 60deg,
            var(--c2) 0 120deg,
            #0000 0),
        conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
        linear-gradient(90deg,
            var(--c1) calc(100% / 6),
            var(--c2) 0 50%,
            var(--c1) 0 calc(500% / 6),
            var(--c2) 0);
    background-size: calc(1.732 * var(--s)) var(--s);
    overflow-x: hidden;
    font-size: 1rem;
    font-family: 'Arvo', sans-serif;
}
/* FINAL PADRAO */


/* INICIO LAYOUT */
main {
    display: grid;
    grid-template-areas:
        "header header header"
        "article article article"
        "footer footer footer";
    grid-template-rows: auto auto auto;
}

/* FINAL LAYOUT */


/* INICIO HEADER */
header {
    grid-area: header;
    margin: 0px 0px 10px 0px;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    padding: 0.5rem 7rem;
}

#icon-user {
    color: black;
}

#icon-user:hover {
    color: white;
    transition: 0.3s;
}

#logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
/* FINAL HEADER */


/* INICIO ARTIGOS */
article {
    grid-area: article;
    margin: 0px 10px;
}

#foto-padrao {
    height: 600px;
}
/* FINAL ARTIGOS */


/* INICIO FOOTER */
footer {
    grid-area: footer;
    
}
/* FINAL FOOTER */