/* INICIO PADRAO */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html {
    scroll-behavior: smooth;
}

body {
  
    font-size: 1rem;
    font-family: 'Arvo', sans-serif;
}
/* FINAL PADRAO */


/* INICIO LAYOUT */
main {
    display: grid;
    grid-template-areas:
        "header header header"
        "article article article"
        "footer footer footer";
    grid-template-rows: auto auto auto;
}

/* FINAL LAYOUT */


/* INICIO HEADER */
header {
    grid-area: header;
    margin: 0px 0px 10px 0px;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    padding: 0.5rem 7rem;
}

#icon-user {
    color: black;
}

#icon-user:hover {
    color: white;
    transition: 0.3s;
}

#logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
/* FINAL HEADER */


/* INICIO ARTIGOS */
article {
    grid-area: article;
    margin: 0px 10px;
}




/* FINAL ARTIGOS */


/* INICIO FOOTER */
footer {
    grid-area: footer;
    
}
/* FINAL FOOTER */



