* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.6em;
}

body {
    margin: 0;
    font-family: 'Arvo', sans-serif;
    overflow-x: hidden;
    background-color: #0B37B4;
}

body * {
    box-sizing: border-box;
}

/* Header */
header {
    grid-area: header;
    margin: 0px 0px 10px 0px;
    background-color: #0B37B4;
    padding: 0.5rem 7rem;
}

#logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: 0.4s;
}

#logo:hover {
    text-decoration: none;
    transition: 0.4s;
    padding: 5px 5px;
    margin: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    color: #10094F;
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    box-shadow: 0px 10px 40px -12px #2400AD;
}

#icon-login {
    color: rgba(255, 255, 255, .5);
    transition: 0.1s;
}

#icon-login:hover {
    color: rgb(196, 196, 196);
    transition: 0.1s;
}
/* Fim do Header */

.main-login {
    width: 100vw;
    background: url(Images/WaveImage.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#back {
    margin: 10px 0px;
    cursor: pointer;
    display: flex;
}

.titulo {
    text-align: justify;
}

.titulo>h1 {
    color: #FFFFFF;
    font-size: 3vw;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #10094F;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login>h1 {
    color: #5DE0E6;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: black;
    font-size: 12pt;
    text-align: center;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #10094F;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-login {
    width: 80%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #10094F;
    background: #5DE0E6;
    box-shadow: 0px 10px 40px -12px #419a9e;
    transition: 0.3s;
}

.btn-login:hover {
    background: #56cdd3;
    box-shadow: 0px 10px 40px -12px #5fdee4;
    transition: 0.3s;
    width: 90%;
    padding: 20px 0px;
    font-size: 20px;
}

span {
    color: white;
}

.button-register {
    text-decoration: underline;
    color: #5DE0E6;
    transition: 0.3s;
}

.button-register:hover {
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 10px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #10094F;
    background: #5DE0E6;
    box-shadow: 0px 10px 40px -12px #10094F;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login>.titulo {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;
        margin: 10px;
    }

    .card-login {
        width: 90%;
    }
}