* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.6em;
}

body {
    margin: 0;
    font-family: 'Arvo', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #004AAD;
    /* background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#back {
    margin: 10px 0px;
    cursor: pointer;
    display: flex;
}
.left-login>h1 {
    color: #5CC3E6;
    font-size: 3vw;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #004AAD;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login>h1 {
    color: #5CC3E6;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #6F7FF2;
    color: #f0ffffde;
    font-size: 12pt;
    text-align: center;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #5CC3E6;
    box-shadow: 0px 10px 40px -12px #2400AD;
}

span {
    color: white;
}

.button-register {
    text-decoration: underline;
    color: #5CC3E6;
}

.button-register:hover {
    text-decoration: none;
    transition: 0.2s;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #5CC3E6;
    box-shadow: 0px 10px 40px -12px #2400AD;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;
    }

    .card-login {
        width: 90%;
    }
}