* {
    box-sizing: border-box;
    font-family: 'Arvo', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
    overflow-x: hidden;
}

/* Começo Header */
header {
    grid-area: header;
    margin: 0px 0px 10px 0px;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    padding: 0.5rem 7rem;
}

#icon-user {
    color: black;
}

#icon-user:hover {
    color: white;
    transition: 0.3s;
}

#logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

article {
    grid-area: article;
    margin: 0px 10px;
}

/* Primeira Página */

#começo {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    font-family: 'Arvo', sans-serif;
    position: flex;
    width: 100vw;
    justify-content: center;
}

#começo .rounded {
    width: 35vw;
}

h1,
h2 {
    font-weight: 600;
    font-size: 52px;
    margin-top: 32px;
}


h3 {
    font-size: 24px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
    font-size: 22px;
}

.btn {
    background-color: #5DE0E6;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
}

.btn-transparente {
    background-color: transparent;
    color: #004AAD;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

ul li {
    font-size: 22px;
}

/* Fim da Primeira página */

#nossoSite {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}


#nossoSite li {
    margin-bottom: 16px;
    margin-left: 32px;
}

/* Fim da nossoSite */

#projeto {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 128px 80px;
    position: flex;
    width: 100vw;
    justify-content: space-around;
    background: #004AAD;
}

#projeto img {
    margin: 64px auto;
}
#teste-dois {
    background: #004AAD;
    align-items: center;
    padding: 28px 80px 28px 80px;
}
#teste-dois .paragrafo {
    color: white;
    justify-content: space-around;
}
#teste-dois h2 {
    color: white;
}
#teste-dois .spotify {
    align-items: center;
    display: flex;
    margin: 0 10px;
}



#projeto .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

/* Fim do Projeto ksksksks */

#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid #5DE0E6;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo {
    border-bottom: 1px solid #5DE0E6;
    border-left: 1px solid #5DE0E6;
    border-right: 1px solid #5DE0E6;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

/* Fim da duvidas */

/* FOOTER... */

footer {
    display: flex;
    align-items: center;
    background-color: #004AAD;
}

footer .container {
    display: flex;
    align-items: center;
    color: white;
}

footer .container ul {
    width: 25%;
}

footer .container h3 {
    margin-bottom: 16px;
    font-weight: 400;
}

footer .container .redes-socias {
    margin-right: 10px;
}

footer .container ul>p {
    margin-bottom: 40px;
}

footer .container li {
    margin: 16px 0;
}

footer .container a {
    color: white;
}

/* Fim do Footer */

/* @media screen and (max-width: 768px){
    .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
 }
 .h1,
 .h2{
    text-align: center;
    line-height: 10%;
    max-width: 500px;
    font-size: 36px;
 }
 .p{
    text-align: center;
    margin: 8px 0;
 }
 .img {
    width: 80%;
 }
 .content{
    flex-direction: column;
}
}

*/


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    header {
        padding: 0.5rem 2rem;
    }

    .absolute {
        opacity: -10;
    }
    #teste-dois {
        background: #004AAD;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 2rem;
    }

    #começo {
        flex-direction: column;
        gap: 16px;
        padding: 24px 24px 128px 24px;
    }

    #começo .rounded {
        width: 450px;
    }

    #nossoSite {
        flex-direction: column;
        gap: 16px;
        padding: 64px 24px;
    }

    #nossoSite li {
        margin-left: 0;
    }

    #projeto {
        padding: 64px 24px;
    }

    #projeto img {
        margin: 32px auto;

    }

    #nossoSite img {
        margin: 32px auto;
    }

    #duvidas img {
        margin: 32px auto;
        display: none;
        width: auto;
    }

    #duvidas .duvida {
        flex-direction: column;
        gap: 1px;
        padding: 4px 14px;
    }

    .duvida .paragrafo {
        padding: 24px;
    }


}


@media screen and (max-width: 450px) {
    header {
        padding: 7px
    }

    #começo {
        flex-direction: column;
        gap: 16px;
        padding: 24px 16px 128px 16px;
    }

    #começo .rounded {
        width: auto;
    }

    #nossoSite {
        flex-direction: column;
        gap: 16px;
        padding: 64px 30px;
    }

    #nossoSite li {
        margin-left: 0;
    }

    #nossoSite img {
        max-height: 320px;
    }

    #projeto {
        padding: 64px 16px;
    }

    #duvidas {
        flex-direction: column;
        gap: 16px;
        padding: 34px 16px;
    }

    .duvida .paragrafo {
        padding: 12px;
    }

    .duvida img {
        position: static;
        margin: 32px auto;
    }

    .duvida button {
        width: 5%;
        margin-top: 16px;
    }

    h3 {
        font-size: 18px;
    }

    .absolute {

        bottom: 100;
        left: 0;
        width: 100%;
        z-index: -10;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container ul {
        width: 100%;
        margin-bottom: 30px;
    }
}



@media (max-width: 350px) {
    header {
        padding: 24px 80px 128px 80px;
    }

    #começo {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        padding: 24px 16px 128px 16px;
    }

    #nossoSite {
        flex-direction: column;
        gap: 16px;
        padding: 64px 30px;
    }

    #nossoSite li {
        margin-left: 0;
    }

    #nossoSite img {
        max-height: 200px;
    }

    #projeto {
        padding: 64px 16px;
    }

    #duvidas {
        flex-direction: column;
        gap: 16px;
        padding: 34px 16px;
    }

    .duvida .paragrafo {
        padding: 12px;
    }

    .duvida img {
        position: static;
        margin: 32px auto;
    }

    .duvida button {
        width: 5%;
        margin-top: 16px;
    }

    h3 {
        font-size: 18px;
    }

    .absolute {

        bottom: 100;
        left: 0;
        width: 100%;
        z-index: -10;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container ul {
        width: 100%;
        margin-bottom: 30px;
    }
}