* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    margin: 10px 10px;
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.5;
}

.navbar-toggler-icon {
    border: 2px solid #004AAD;
}

#pg {
    font-family: "Arvo", sans-serif;
}

#navbarDropdown {
    font-family: "Arvo", sans-serif;
}

.dropdown-item {
    font-family: "Arvo", sans-serif;
}

#pesquisar {
    font-family: "Arvo", sans-serif;
}

::placeholder {
    font-family: "Arvo", sans-serif;
}

#nav-two {
    background-color: white;
    height: 3rem;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#teste {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/TecnologiaBackground.avif);
}

#cadeado {
    width: 15rem;
    animation: floating 6s ease-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-25px) rotate(4deg);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

.jumbotron {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}

.btn:hover {
    background-color: #004AAD;
    border: 2px solid #004AAD;
    color: #5DE0E6;
}

.btn-outline-success {
    color: #004AAD;
    background-color: transparent;
    background-image: none;
    border-color: #004AAD;
}