/* Inicio padrao */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-size: 1rem;
    font-family: 'Arvo', sans-serif;
}

/* Final Padrao */


/* Inicio Layout */
main {
    display: grid;
    grid-template-areas:
        "header header header"
        "article article article"
        "footer footer footer";
    grid-template-rows: auto auto auto;
}

/* Final Layout */


/* Inicio Header */
header {
    grid-area: header;
    margin: 0px 0px 10px 0px;
    background-color: #0B37B4;
    padding: 0.5rem 7rem;
}

#logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: 0.4s;
}

#logo:hover {
    text-decoration: none;
    transition: 0.4s;
    padding: 5px 5px;
    margin: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    color: #10094F;
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
    box-shadow: 0px 10px 40px -12px #2400AD;
}

#icon-login {
    color: rgba(255, 255, 255, .5);
    transition: 0.1s;
}

#icon-login:hover {
    color: rgb(196, 196, 196);
    transition: 0.1s;

}

/* Final Header */


/* Inicio Artigo */
article {
    grid-area: article;
}

/* Cards Notícias */
#card-info {
    align-items: center;
    color: white;
    border: none;
}

#card-info>img {
    border-radius: 3%;
}

#img-news-top {
    height: 35vh;
}

/* Início Titulo Card Notícias */
.titulo-news {
    color: #ffffff;
}

.titulo-news:hover {
    color: #d1d1d1;
    text-decoration: none;
}

#titulo-news-1 {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1.1em;
    padding: 10px;
    background: #a5a5a596;
    font-weight: 800;
    width: 95%;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.2s;
}

#titulo-news-1:hover {
    color: black;
    background: #ffffff9c;
    transition: 0.2s;
}


#titulo-news-2 {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1.1em;
    padding: 10px;
    background: #a5a5a596;
    font-weight: 800;
    width: 85%;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.2s;
}

#titulo-news-2:hover {
    color: black;
    background: #ffffff9c;
    transition: 0.2s;
}

#titulo-news-3 {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1.1em;
    padding: 10px;
    background: #a5a5a596;
    font-weight: 800;
    width: 65%;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.2s;
}

#titulo-news-3:hover {
    color: black;
    background: #ffffff9c;
    transition: 0.2s;
}


#titulo-news-4 {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1.1em;
    padding: 10px;
    background: #a5a5a596;
    font-weight: 800;
    width: 65%;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.2s;
}

#titulo-news-4:hover {
    color: black;
    background: #ffffff9c;
    transition: 0.2s;
}


#titulo-news-5 {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1.1em;
    padding: 10px;
    background: #a5a5a596;
    font-weight: 800;
    width: 65%;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.2s;
}

#titulo-news-5:hover {
    color: black;
    background: #ffffff9c;
    transition: 0.2s;
}


#titulo-news-6 {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1.1em;
    padding: 10px;
    background: #a5a5a596;
    font-weight: 800;
    width: 65%;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.2s;
}

#titulo-news-6:hover {
    color: black;
    background: #ffffff9c;
    transition: 0.2s;
}
/* Final Titulo Card Notícias */


/* Início de Cursos */
/* Início titulo nossos cursos */
.jumbotron {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #5DE0E6 80%);
}
/* Final titulo nossos cursos */


/* Inicio card dropdonw dos cursos */
#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid #004AAD;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo {
    border-bottom: 1px solid #004AAD;
    border-left: 1px solid #004AAD;
    border-right: 1px solid #004AAD;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.2s;
}

.duvida.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 24px;
}


@media screen and (max-width: 768px) {
    #duvidas img {
        margin: 32px auto;
        display: none;
        width: auto;
    }

    #duvidas .duvida {
        flex-direction: column;
        gap: 1px;
        padding: 4px 14px;
    }

    .duvida .paragrafo {
        padding: 24px;
    }
}

@media screen and (max-width: 450px) {
    #duvidas {
        flex-direction: column;
        gap: 16px;
        padding: 34px 16px;
    }

    .duvida .paragrafo {
        padding: 12px;
    }

    .duvida img {
        position: static;
        margin: 32px auto;
    }

    .duvida button {
        width: 5%;
        margin-top: 16px;
    }
}

@media (max-width: 350px) {
    #duvidas {
        flex-direction: column;
        gap: 16px;
        padding: 34px 16px;
    }

    .duvida .paragrafo {
        padding: 12px;
    }

    .duvida img {
        position: static;
        margin: 32px auto;
    }

    .duvida button {
        width: 5%;
        margin-top: 16px;
    }
}
/* Final card dropdonw dos cursos */
/* Final de Cursos */
/* Final Artigo */


/* Inicio Footer */
footer {
    padding: 0 10px;
    grid-area: footer;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, #004AAD 20%, #004AAD 80%);
}

#conjuto {
    text-align: justify;
}

#titulo {
    color: white;
    font-family: 'Arvo', sans-serif;
}

#titulo-contato {
    color: white;
    font-family: 'Arvo', sans-serif;
}

.text-reset {
    font-family: 'Arvo', sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.text-reset:hover {
    text-decoration: none;
    color: rgb(209, 209, 209);
}

#text {
    color: white;
    font-family: 'Arvo', sans-serif;
}

#text-config {
    font-family: 'Arvo', sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

#titulo>li {
    color: #ffffff;
}

#text-config:hover {
    text-decoration: none;
    color: rgb(112, 112, 112);
}

li {
    margin: 10px;
    color: white;
}

#icon-footer {
    color: white;
}

/* Final Footer */


/* Inicio transicao */

/* removendo o estilo padrao do botao */
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* estilo de botao */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #5DE0E6;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* texto com transicao */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* transicao */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

/* fim da transicao */