.navbar-toggler-icon {
    border: 2px solid #004AAD;
}

.btn:hover {
    background-color: #004AAD;
    border: 2px solid #004AAD;
    color: #5DE0E6;
}

.btn-outline-success {
    color: #004AAD;
    background-color: transparent;
    background-image: none;
    border-color: #004AAD;
}